# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.vite/

# Database & SQLite files
*.db-journal
packages/database/prisma/dev.db-journal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
